p {
  text-decoration: underline;
}

#a {
  color: #FF0000;
}

.b {
  font-size: 1.5em;
}

.c {
  color: blue;
}

/*
 CSSは先頭で指定した要素全てに対して{}で囲まれた内容を適用するという構文になっています。
 要素の指定にはタグ名、id名（先頭に#を付ける）、class名（先頭に.を付ける）などが使用でき
 ます。どのようなことができるかについてはスタイルシートリファレンスに載っていますので試して
 みましょう。
 また、Webブラウザには様々な種類があり、ブラウザごとにHTMLやCSSのレンダリングエンジンが異な
 るため、あるブラウザでしか使用できないタグや、あるブラウザでは崩れてしまうレイアウトなどがあ
 るかもしれません。そのため様々なブラウザでチェックする必要があるでしょう。
 */
